<!--
Author: Tim Williams
Date: 1-30-2025
Class: SDEV305
Project: Guestbook Form
File: HTML
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link href="/Styles/index.css" rel="stylesheet">
    <link rel="icon" href="/Images/Contact.png">
</head>
<body>

<div class="Contact">


    <!-- Contact Form Heading -->
    <div class="heading">
        <h2> Contact Form</h2>
    </div>
    <!-- End Contact Form Heading -->


    <!-- First Name Section -->
    <div class="space-even"> 
            <div class="style-fn">
                <p> First Name </p>
                <input class="input-styles" type="text">
            </div>
    <!-- End First Name Section -->


    <!-- Last Name Section -->
            <div class="style-fn">
                <p> Last Name </p>
                <input class="input-styles" type="text">
            </div>
    <!-- End Last Name Section -->


    <!-- Job Title Section -->
            <div class="style-fn">
                <p> Job Title </p>
                <input class="input-styles" type="text">
            </div>
    </div>
    <!-- End Job Title Section -->


    <!-- Company Name Section -->
    <div class="space-even"> 
        <div class="style-fn">
            <p> Company </p>
            <input class="input-styles" type="text">
        </div>
    <!-- End Company Name Section -->


    <!-- LinkedIn Section -->
        <div class="style-fn">
            <p> LinkedIn URL </p>
            <input class="input-styles" type="text">
        </div>
    <!-- End LinkedIn Section -->


    <!-- Email Address Section -->
        <div class="style-fn">
            <p> Email Address </p>
            <input class="input-styles" type="text">
        </div>
    </div>
    <!-- End Email Address Section -->

    <div class="Meet-section">
    <!-- How did we meet Section -->
        <div>
            <p class="style-p"> How did we meet? </p>
            <select id="options" class="dropdown-input">
                <option value="" disabled selected>Please Select</option>
                <option value="option1"> School Together </option>
                <option value="option2"> Worked Together </option>
                <option value="option3"> Public Event Together </option>
                <option value="option4"> Friend of a Friend </option>
            </select>
        </div>
        <!-- End of How did we meet Section -->


        <!-- Other Please Specify Section -->
        <div>
            <p class="other-p">Other(please specify) </p>
            <input type="text" class="meet-specify">
        </div>
        <!-- End of Other Please Specify Section -->

    </div>

    <div>

        <!-- Large Message Box Section  -->
        <div>
            <p class="style-p"> Message </p>
            <input type="text" class="Large-text-Box">
        </div>
        <!-- End of Large Message Box Section -->


        <!-- Mailling Check Box Section -->
        <div class="mailing-list">
            <input type="checkbox" class="mailing-list-checkbox">
            <p> Please add me to your mailing list </p>
        </div>
        <!-- End of Mailling Check Box Section -->


        <!-- Email Format Section -->
        <div>
            <p class="other-p2"> Choose an email format: </p>
            <div class="radio-button-section">
                <input type="radio" value="HTML" class="radio-button" name="typeofmail"> <p class="radio-button-text"> HTML </p>
                <input type="radio" value="Text" class="radio-button" name="typeofmail"> <p class="radio-button-text"> Text </p>
            </div>
        </div>
        <!-- Email Format Section -->
         

        <!-- Submit Button Section -->
        <div>
            <button class="button-style"> Submit </button>
        </div>
         <!-- End of Submit Button Section -->

    </div>

</div> 


</body>
</html>