/*
Author: Tim Williams
Date: 1-30-2025
Class: SDEV305
Project: Guestbook Form
File: CSS
*/


/* 
    Main Element Styles for aligning
*/

body
{
    display: flex;
    justify-content: center;
    align-items: center;       
    margin: 0; 
    background-color: lightgrey;          
}

h2
{
    font-family: sans-serif;
    color: black;
}

p
{
    font-family: sans-serif;
    font-size: small;
    
}


/* 
     End of Main Element Styles for aligning
*/


/* 
    Styles for maintaining body fixture, or alignment.
*/

.Contact
{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}

.space-even
{
    display: flex;
    flex-direction: row;
}

.Meet-section
{
    display: flex;
    flex-direction: row;
}


/* 
    End of Styles for maintaining body fixture, or alignment.
*/


/* 
    Styles Needed for editing look of elements
*/


.heading
{
    text-align: center;
    margin: 0;
    margin-bottom: -10px;
    padding: 0;
}

.style-fn
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-styles
{
    padding: 5px;  
    border-radius: 5px;
    border: 1px solid #ccc;
}

.style-p
{
    margin: 10px;
}

.dropdown-input
{
    width: 275px;
    height: 30px;  
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 10px;
    margin-top: -15px;
}


.meet-specify
{
    padding: 5px;  
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: -10px;
    width: 275px;
}

.other-p
{
    margin: 10px;
}

.other-p2
{
    display: inline;
    margin: 10px;
}

.Large-text-Box
{
    width: 570px;
    height: 75px;
    margin: 10px;
    border: 1px solid #ccc; 
}

.mailing-list
{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.mailing-list-checkbox
{
    margin: 5px;
}

.radio-button-section
{
    display: inline-flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    margin-left: -10px;
}

.radio-button
{
    margin-top: -15px;
}

.radio-button-text
{
    margin-top: -2px;
}

.button-style
{
    background-color: green;
    color: white;
    border: 1px solid #ccc; 
    border-radius: 3px;
    width: 75px;
    height: 30px;
    margin: 10px;
    margin-top: -5px;
}

/* 
    End of Styles Needed for editing look of elements
*/
